#Python packages:

Flask
cs50
Flask-Session
Werkzeug
Flask-Login

#External files required:

finance.db: SQLite database file containing the required tables (users, stock_purchases, and history)





