<!-- Extend the base layout -->
{% extends "layout.html" %}

<!-- Set the title of the page -->
{% block title %}
    quote
{% endblock %}

{% block main %}
    <!-- Heading for the Quote page -->
    <h1 style="margin-bottom: 100px;">Quote a symbol to look up the stock's current price</h1>

    <!-- Form to input symbol and submit -->
    <form action="/quote" method="POST">
        <div class="form-group">
            <input type="text" placeholder="Symbol" style="text-transform: uppercase;" autofocus autocomplete="off" name="symbol" id="symbol" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
         </div>
     </form>

     <!-- Table of company names and symbols -->
     <h2 style="margin-top:200px; margin-bottom:30px">Here's a list of some company names and symbols:</h2>
     <table style="border-collapse: collapse; width: 100%;">
         <thead>
             <tr>
                 <th style="padding: 8px; vertical-align: middle;">Company Name</th>
                 <th style="padding: 8px; vertical-align: middle;">Symbol</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td style="padding: 8px; vertical-align: middle;">Apple</td>
                 <td style="padding: 8px; vertical-align: middle;">AAPL</td>
             </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Microsoft</td>
                <td style="padding: 8px; vertical-align: middle;">MSFT</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Amazon</td>
                <td style="padding: 8px; vertical-align: middle;">AMZN</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Alphabet</td>
                <td style="padding: 8px; vertical-align: middle;">GOOG/GOOGL</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Tesla</td>
                <td style="padding: 8px; vertical-align: middle;">TSLA</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Facebook</td>
                <td style="padding: 8px; vertical-align: middle;">META</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Berkshire Hathaway</td>
                <td style="padding: 8px; vertical-align: middle;">BRK.A/BRK.B</td>
            </tr>
            <tr>
                <td style="padding: 8px; vertical-align: middle;">Johnson &amp; Johnson</td>
                <td style="padding: 8px; vertical-align: middle;">JNJ</td>
             </tr>
             <tr>
                 <td style="padding: 8px; vertical-align: middle;">Visa</td>
                  <td style="padding: 8px; vertical-align: middle;">V</td>
            </tr>
             <tr>
                   <td style="padding: 8px; vertical-align: middle;">UnitedHealth Group</td>
                   <td style="padding: 8px; vertical-align: middle;">UNH</td>
             </tr>
         </tbody>
     </table>

     <!-- Link to go back to the homepage -->
     <a href="/"><button>Back to homepage</button></a>
{% endblock %}
